.flexi-form-container {
	float: left;
	padding: 10px;
}

.flexi-field {
	float: left;
	margin: 10px 5px;
	width: 100%;
}

.flexi-label {
	padding: 0 5px;
}

.flexi-submit {
	float: left;
	margin: 10px 5px;
	padding: 5px;
}